@model List<JobsityChatroom.Entities.MessageEntity>;
@{
    ViewData["Title"] = "Home";
}

<div class="text-center vh-100">
    <h1 class="display-4">Welcome to Jobsity Chatroom</h1>
    <h4>@ViewBag.UserName</h4>

    <div id="chatSpace" class="border border-primary ml-auto mr-auto mt-3 mb-3 w-75 h-75 overflow-auto d-flex flex-column">
        @foreach(var chatMessage in Model)
        {
            if (chatMessage.UserName == ViewBag.UserName)
            {
                <div class="mt-2 ml-auto mr-2 border border-primary rounded bg-light pl-4 pr-4 pt-1 pb-1">
                    <small class="d-block text-left w-100 m-0">You said:</small>
                    <p class="text-left font-weight-bold">@chatMessage.MessageText</p>
                    <small class="d-block w-100 text-right m-0">@chatMessage.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</small>
                </div>
            }
            else
            {
                <div class="mt-2 mr-auto ml-2 border border-primary rounded bg-light pl-4 pr-4 pt-1 pb-1">
                    <small class="d-block text-left w-100 m-0">@chatMessage.UserName said:</small>
                    <p class="text-left font-weight-bold">@chatMessage.MessageText</p>
                    <small class="d-block w-100 text-right m-0">@chatMessage.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</small>
                </div>
            }

        }
    </div>
    <form id="sendMessageForm" class="ml-auto mr-auto w-75 d-flex flex-row">
        <input type="text" id="messageInput" name="messageText" class="form-control" placeholder="Say something! Everybody is waiting..." />
        <button type="submit" id="sendButton" class="btn btn-info ml-3 pl-3 pr-3">Send</button>
    </form>
</div>

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(() => {
            window.currentUser = '@ViewBag.UserName';
        })

        $("#sendMessageForm").submit((evt) => {
            evt.preventDefault();
            let messageText = $("#messageInput").val();

            $.post("/Home/SendMessage",
                { messageText: messageText },
                () => {
                    $("#messageInput").val("");
                },
                "json");
        });
    </script>
}